//site color variables
$body-color: #0F172A;
$primary-color: #38BDF8;
$secondary-color: #1E293B;
$text-color: #94A3B8;
$text-color-dark: #F1F5F9;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #1E293B;
$dark-gray: #334155;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Yeseva One', cursive;
$secondary-font: 'Poppins', sans-serif;
