#popup {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(25, 25, 25, 0.8);
    z-index: 10000;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 500ms all;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    .popup {
        &-close {
            position: absolute;
            top: 17%;
            left: 78%;
            transform: translate(-50%, -50%);

            a {
                text-decoration: none;
                font-size: 30px;
                color: white;
                transition: all 500ms ease;

                &:hover {
                    color: $primary-color;
                    font-size: 35px;
                }
            }
        }

        &-content {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            transform: scale(0.6);
            transition: 500ms all;
            
            iframe {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}