.service{
    position: relative;
    overflow: hidden;
    padding-bottom: 275px;
    &__background{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 61%;
        svg{
            width: 100%;
            height: 100%;
        }
    }
    &__background_shape{
        position: absolute;
        bottom: -10%;
        left: -7%;
        height: 465px;
        width: 410px;
        svg{
            width:100%;
        }
        @include desktop{
            display: none;
        }
    }
    &__background_pattern{
        position: absolute;
        bottom: 4%;
        left: 6%;
        animation: move_top 5s infinite linear;
        @include desktop{
            display: none;
        }
    }
    &__header{
        margin-bottom: 50px;
        span{
            font-size: 20px;
            font-family: $secondary-font;
            color: $secondary-color;
            position: relative;
            display: block;
            margin: 0 0 20px 30px;
            &::before{
                position: absolute;
                content: '';
                height: 2px;
                width: 20px;
                top: 50%;
                left: -20px;
                transform: translateX(-50%);
                background: $secondary-color;
            }
        }
        h1{
            margin: 0 0 30px 0;
            font-size: 50px;
            font-family: $primary-font;
            color: $secondary-color;
            line-height: 50px;
            @include tablet{
                font-size: 39px;
            }
        }
        p{
            margin: 0 0 0 0;
            font-family: $secondary-font;
            color: $secondary-color;
            font-size: 18px;
            line-height: 26px;
        }
    }
    &__slider{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      
        @include mobile {
          grid-template-columns: repeat(1, 1fr);
        }


        &_item{
            margin: 15px;
            padding: 30px;
            box-shadow: 0px 20px 40px 0px rgba(50,65,141,0.12);
            border-radius: 20px;
            background: $white;
            &-icon{
                height: 110px;
                width: 125px;
                position: relative;
                .icon-background{
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                .icon{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 1;
                }
            }
            h4{
                font-size: 24px;
                font-family: $primary-font;
                color: $secondary-color;
                margin: 40px 0 30px 0;
            }
            p{
                font-family: $secondary-font;
                color: #7E7E8A;
                font-size: 16px;
                line-height: 30px;
                margin: 0;
            }
        }
    }
}
