{% extends "base.html" %}

{% block content %}
<div class="homepage">
  <div class="img-profile-wrapper">
    <div class="circle"></div>
    <img src="/{{ config.extra.author_image }}" alt="me" width="250" height="250">
  </div>
  <div class="content">
    <div class="content-title">
      {{ config.extra.author }}
    </div>
    <div class="content-subtitle">
      <span class="font-medium"> {{ config.extra.job }} </span>
      <span class="font-thin"> {{ config.extra.description }} </span>
    </div>
    <div class="content-icons">
      {% for link in config.extra.links %}
        <a title="{{ link.title }}" href="{{ link.url }}" target="_blank" rel="noreferrer">
          <i class="{{ link.icon }}"></i>
        </a>
      {% endfor %}
    </div>
    <!-- News Section -->
    <section id="news" style="margin-top: 3rem;">
      <h2>News & Recent Activity</h2>
      <ul>
        <li>
  <strong><span style="color: red;">Sep 2025</span>:</strong>
  Here is my latest Publications in PRD —
  <a href="https://journals.aps.org/prd/abstract/10.1103/cmbw-vcds" target="_blank" rel="noopener noreferrer">
    <strong><span style="color: blue;">Publication Link</span>:</strong>
  </a>.
</li>
        <li>
  <strong><span style="color: red;">Sep 2025</span>:</strong>
  Here is my latest Publications —
  <a href="https://academic.oup.com/ptep/article/2025/8/083B02/8220888" target="_blank" rel="noopener noreferrer">
     <strong><span style="color: blue;">Publication Link</span>:</strong>
  </a>.
</li>
        <li><strong><span style="color: red;">Aug 2025</span>:</strong> 
          Presented my Work of pion GFFs at BLTP-JINR .</li>
        <li><strong><span style="color: red;">Aug 2025</span>:</strong> Our pion GTMD paper accepted In PTEP .</li>
        <li>
  <strong><span style="color: red;">July 2025</span>:</strong>
  Presented my work in front of Prof. C. R. Ji’s group —
  <a href="https://crjiresearchgroup.wordpress.ncsu.edu/group-meetings/archives-satyajit-puhan/" target="_blank" rel="noopener noreferrer">
     <strong><span style="color: blue;">Talk Link</span>:</strong>
  </a>.
</li>
      </ul>
    </section>
  </div>
</div>
{% endblock content %}
