{% set section = get_section(path="portfolio/_index.md", lang=lang) %}

{% if section.pages %}
<section class="section portfolio" id="portfolio">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-6 offset-lg-3">
        <div class="portfolio__header">
          <span>{{ section.title }}</span>
          <h1>{{ section.description }}</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="publication-list">
          {% for page in section.pages %}
          <div class="publication-item">
            <div class="publication-item__info">
              <span class="publication-item__journal">{{ page.extra.service }}</span>
              <h5 class="publication-item__title">
                <a href="{{ page.permalink }}">{{ page.title }}</a>
              </h5>
              <p class="publication-item__authors">{{ page.extra.client }}</p>
            </div>
            <a class="publication-item__link" href="{{ page.permalink }}">{{ trans(key="see_details", lang=lang) }}
              →</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}